body {
    background-image: url("./image/88bb.jpg");
    background-repeat: no-repeat;
    background-size: contain;


}

h1 {
    font-size: xx-large;


}



* {
    font-family: "Roboto" ,system-ui, -apple-system, "Consolas", "Open Sans", Roboto, Lato, Cantarell, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 18px;

}

;